* {
    box-sizing: border-box;
    /*border: 1px solid red;*/
    padding: 0;
    margin: 0;
    position: relative;
}

.r-header {
    background: #222222;
    height: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
    font-size: .5rem;
}

.r-header-nav {
    display: inline-block;
}

.r-header-nav ul li {
    display: inline-block;
    vertical-align: middle;
    float: left;
    height: 100%;
    margin: 0 .1rem;
}

.r-header-nav ul li button {
    height: .6rem;
    font-size: 100%;
    padding: 0 .1rem;
    border-radius: .05rem;
    background: transparent;
    color: #FEFEFE;
    outline: none;
}

.r-body {
    background: orange;
    height: calc(100vh - 2rem);
    padding: .2rem;
}

.r-body-container {
    height: 100%;
    box-shadow: .05rem .05rem .05rem #999999;
    padding: .2rem;
    border-radius: .2rem;
    font-size: .4rem;
    background: #555555;
    color: #FEFEFE;
}

.r-footer {
    background: #EEEEEE;
    height: .8rem;
    font-size: .35rem;
    color: #999999;
    line-height: .8rem;
}

.r-footer p {
    text-align: center;
}

