* {
    box-sizing: border-box;
    border: 1px solid red;
    padding: 0;
    margin: 0;
    position: relative;
}

body {
    font-size: 45px;
}

.r-header {
    height: 6rem;
    line-height: 6rem;
    text-align: center;
}

.r-header-nav {
    display: inline-block;
}

.r-header-nav ul li {
    display: inline-block;
}

.r-header-nav ul li button {
    display: block;
    height: 2rem;
    padding: 0 1rem;
    border-radius: 0.25rem;
}


